$rancher-icons-font-family: "icons" !default;
$rancher-icons-font-path: "~@rancher/icons/fonts" !default;

$icon-actions: "\ea01";
$icon-alert: "\ea02";
$icon-anchor: "\ea03";
$icon-apple: "\ea04";
$icon-application: "\ea05";
$icon-apps: "\ea06";
$icon-archive: "\ea07";
$icon-backup-restore: "\ea08";
$icon-backup: "\ea09";
$icon-brush-icon: "\ea0a";
$icon-checkmark: "\ea0b";
$icon-chevron-beginning: "\ea0c";
$icon-chevron-down: "\ea0d";
$icon-chevron-end: "\ea0e";
$icon-chevron-left: "\ea0f";
$icon-chevron-right: "\ea10";
$icon-chevron-up: "\ea11";
$icon-circle-plus: "\ea12";
$icon-cis: "\ea13";
$icon-close: "\ea14";
$icon-cluster-management: "\ea15";
$icon-cluster: "\ea16";
$icon-code: "\ea17";
$icon-comment: "\ea18";
$icon-commit: "\ea19";
$icon-compass: "\ea1a";
$icon-copy: "\ea1b";
$icon-dashboard: "\ea1c";
$icon-dock: "\ea1d";
$icon-docker: "\ea1e";
$icon-dot-half: "\ea1f";
$icon-dot-open: "\ea20";
$icon-dot: "\ea21";
$icon-download: "\ea22";
$icon-edit: "\ea23";
$icon-elemental: "\ea24";
$icon-endpoints_connected: "\ea25";
$icon-epinio: "\ea26";
$icon-error: "\ea27";
$icon-explore: "\ea28";
$icon-extension: "\ea29";
$icon-external-link: "\ea2a";
$icon-file: "\ea2b";
$icon-filter_alt: "\ea2c";
$icon-flask: "\ea2d";
$icon-fleet: "\ea2e";
$icon-folder: "\ea2f";
$icon-fork: "\ea30";
$icon-gatekeeper: "\ea31";
$icon-gear: "\ea32";
$icon-github: "\ea33";
$icon-gitlab: "\ea34";
$icon-globe: "\ea35";
$icon-groups: "\ea36";
$icon-harvester: "\ea37";
$icon-hide: "\ea38";
$icon-history: "\ea39";
$icon-home: "\ea3a";
$icon-info-circle: "\ea3b";
$icon-info: "\ea3c";
$icon-init_container: "\ea3d";
$icon-istio: "\ea3e";
$icon-keyboard: "\ea3f";
$icon-keyboard_tab: "\ea40";
$icon-linux: "\ea41";
$icon-list-flat: "\ea42";
$icon-list-grouped: "\ea43";
$icon-lock: "\ea44";
$icon-logging: "\ea45";
$icon-longhorn: "\ea46";
$icon-marketplace: "\ea47";
$icon-menu: "\ea48";
$icon-minus: "\ea49";
$icon-monitoring: "\ea4a";
$icon-more: "\ea4b";
$icon-namespace: "\ea4c";
$icon-notifier: "\ea4d";
$icon-os-management: "\ea4e";
$icon-pause: "\ea4f";
$icon-pin-outlined: "\ea50";
$icon-pin: "\ea51";
$icon-pipeline: "\ea52";
$icon-play: "\ea53";
$icon-plus: "\ea54";
$icon-pod_security: "\ea55";
$icon-print: "\ea56";
$icon-question-mark: "\ea57";
$icon-rancher-desktop: "\ea58";
$icon-refresh: "\ea59";
$icon-repository: "\ea5a";
$icon-rio: "\ea5b";
$icon-role-binding: "\ea5c";
$icon-search: "\ea5d";
$icon-service: "\ea5e";
$icon-show: "\ea5f";
$icon-snapshot: "\ea60";
$icon-sort-down: "\ea61";
$icon-sort-up: "\ea62";
$icon-sort: "\ea63";
$icon-spinner: "\ea64";
$icon-star-open: "\ea65";
$icon-star: "\ea66";
$icon-storage: "\ea67";
$icon-terminal: "\ea68";
$icon-trash: "\ea69";
$icon-unlock: "\ea6a";
$icon-upload: "\ea6b";
$icon-user-check: "\ea6c";
$icon-user-xmark: "\ea6d";
$icon-user: "\ea6e";
$icon-warning: "\ea6f";
$icon-windows: "\ea70";
