$icon-circle: "\e90c";
$icon-adjust: "\e900";
$icon-circle-o: "\e90b";
$icon-dot-diagonalfill: "\e913";
$icon-dot-circlefill: "\e912";
$icon-target: "\e952";
$icon-spinner: "\e94d";
$icon-check: "\e906";
$icon-x: "\e965";
$icon-close: "\e965";
$icon-chevron-down: "\e907";
$icon-chevron-left: "\e908";
$icon-chevron-right: "\e909";
$icon-chevron-up: "\e90a";
$icon-plus: "\e93b";
$icon-medical-cross: "\e93b";
$icon-minus: "\e93f";
$icon-pause: "\e942";
$icon-play: "\e943";
$icon-stop: "\e933";
$icon-download: "\e914";
$icon-upload: "\e961";
$icon-arrow-circle-up: "\e903";
$icon-face-frown: "\e918";
$icon-face-gasp: "\e919";
$icon-face-meh: "\e91a";
$icon-face-open-smile: "\e91b";
$icon-face-smile: "\e91c";
$icon-help: "\e926";
$icon-info: "\e92a";
$icon-history: "\e927";
$icon-refresh: "\e947";
$icon-success: "\e94f";
$icon-minus-circle: "\e93d";
$icon-plus-circle: "\e944";
$icon-x-circle: "\e931";
$icon-plus-square: "\e945";
$icon-minus-square: "\e93e";
$icon-x-square: "\e932";
$icon-square: "\e94e";
$icon-cpu: "\e910";
$icon-memory: "\e93c";
$icon-hdd: "\e925";
$icon-database: "\e911";
$icon-network: "\e940";
$icon-vm: "\e935";
$icon-box: "\e904";
$icon-container: "\e904";
$icon-containers: "\e904";
$icon-service services: "\e955";
$icon-share: "\e949";
$icon-tag: "\e951";
$icon-home: "\e928";
$icon-certificate: "\e905";
$icon-process processes gear: "\e934";
$icon-user: "\e962";
$icon-users: "\e963";
$icon-alert: "\e901";
$icon-notification: "\e941";
$icon-cloud: "\e90d";
$icon-compass: "\e90e";
$icon-tachometer: "\e950";
$icon-globe: "\e923";
$icon-stacks: "\e936";
$icon-edit: "\e915";
$icon-trash: "\e95e";
$icon-lock: "\e939";
$icon-unlock: "\e960";
$icon-key: "\e92b";
$icon-umbrella: "\e95f";
$icon-purged: "\e95d";
$icon-life-ring: "\e930";
$icon-search: "\e948";
$icon-terminal: "\e95b";
$icon-link: "\e937";
$icon-external-link: "\e917";
$icon-ellipsis: "\e916";
$icon-copy: "\e90f";
$icon-file: "\e91d";
$icon-files: "\e91e";
$icon-layeredgroup: "\e92d";
$icon-layers: "\e92e";
$icon-thumbnails: "\e95c";
$icon-folder: "\e91f";
$icon-folder-open: "\e920";
$icon-sort: "\e94c";
$icon-sort-up: "\e94b";
$icon-sort-down: "\e94a";
$icon-fork: "\e921";
$icon-level-down: "\e92f";
$icon-hamburger-nav: "\e924";
$icon-tasks: "\e953";
$icon-host: "\e929";
$icon-logout: "\e93a";
$icon-apple: "\e902";
$icon-github: "\e922";
$icon-kubernetes: "\e92c";
$icon-linux: "\e938";
$icon-rancher-cow: "\e946";
$icon-windows: "\e964";
