$rancher-icons-font-family: "icons" !default;
$rancher-icons-font-path: "~@rancher/icons/fonts" !default;

$icon-actions: "\ea01";
$icon-ai: "\ea02";
$icon-alert-alt: "\ea03";
$icon-alert: "\ea04";
$icon-anchor: "\ea05";
$icon-apple: "\ea06";
$icon-application: "\ea07";
$icon-apps: "\ea08";
$icon-archive: "\ea09";
$icon-aws-bedrock: "\ea0a";
$icon-backup-restore: "\ea0b";
$icon-backup: "\ea0c";
$icon-brush-icon: "\ea0d";
$icon-category-alt: "\ea0e";
$icon-checkmark: "\ea0f";
$icon-chevron-beginning: "\ea10";
$icon-chevron-down: "\ea11";
$icon-chevron-end: "\ea12";
$icon-chevron-left: "\ea13";
$icon-chevron-right: "\ea14";
$icon-chevron-up: "\ea15";
$icon-circle-plus: "\ea16";
$icon-cis: "\ea17";
$icon-close: "\ea18";
$icon-cluster-management: "\ea19";
$icon-cluster: "\ea1a";
$icon-code: "\ea1b";
$icon-comment: "\ea1c";
$icon-commit: "\ea1d";
$icon-compass: "\ea1e";
$icon-confirmation-alt: "\ea1f";
$icon-copy: "\ea20";
$icon-dashboard: "\ea21";
$icon-dock: "\ea22";
$icon-docker: "\ea23";
$icon-document: "\ea24";
$icon-dot-half: "\ea25";
$icon-dot-open: "\ea26";
$icon-dot: "\ea27";
$icon-downgrade-alt: "\ea28";
$icon-download: "\ea29";
$icon-edit: "\ea2a";
$icon-elemental: "\ea2b";
$icon-endpoints_connected: "\ea2c";
$icon-endpoints_disconnected: "\ea2d";
$icon-epinio: "\ea2e";
$icon-error: "\ea2f";
$icon-explore: "\ea30";
$icon-extension: "\ea31";
$icon-external-link: "\ea32";
$icon-file: "\ea33";
$icon-filter_alt: "\ea34";
$icon-flask: "\ea35";
$icon-fleet: "\ea36";
$icon-folder: "\ea37";
$icon-fork: "\ea38";
$icon-gatekeeper: "\ea39";
$icon-gear: "\ea3a";
$icon-gemini: "\ea3b";
$icon-git: "\ea3c";
$icon-github: "\ea3d";
$icon-gitlab: "\ea3e";
$icon-globe: "\ea3f";
$icon-groups: "\ea40";
$icon-harvester: "\ea41";
$icon-helm: "\ea42";
$icon-hide: "\ea43";
$icon-history: "\ea44";
$icon-home: "\ea45";
$icon-info-circle: "\ea46";
$icon-info: "\ea47";
$icon-init_container: "\ea48";
$icon-istio: "\ea49";
$icon-keyboard: "\ea4a";
$icon-keyboard_tab: "\ea4b";
$icon-linux: "\ea4c";
$icon-list-flat: "\ea4d";
$icon-list-grouped: "\ea4e";
$icon-lock: "\ea4f";
$icon-logging: "\ea50";
$icon-longhorn: "\ea51";
$icon-marketplace: "\ea52";
$icon-menu: "\ea53";
$icon-minus: "\ea54";
$icon-monitoring: "\ea55";
$icon-more: "\ea56";
$icon-namespace: "\ea57";
$icon-notifier: "\ea58";
$icon-notify-announcement: "\ea59";
$icon-notify-bell: "\ea5a";
$icon-notify-busy: "\ea5b";
$icon-notify-error: "\ea5c";
$icon-notify-info: "\ea5d";
$icon-notify-tick: "\ea5e";
$icon-notify-warning: "\ea5f";
$icon-ollama: "\ea60";
$icon-openai: "\ea61";
$icon-os-management: "\ea62";
$icon-pause: "\ea63";
$icon-pin-outlined: "\ea64";
$icon-pin: "\ea65";
$icon-pipeline: "\ea66";
$icon-play: "\ea67";
$icon-plus: "\ea68";
$icon-pod_security: "\ea69";
$icon-print: "\ea6a";
$icon-question-mark: "\ea6b";
$icon-quick-action: "\ea6c";
$icon-rancher-desktop: "\ea6d";
$icon-rancher-observability: "\ea6e";
$icon-refresh-alt: "\ea6f";
$icon-refresh: "\ea70";
$icon-repository-alt: "\ea71";
$icon-repository: "\ea72";
$icon-rio: "\ea73";
$icon-role-binding: "\ea74";
$icon-search: "\ea75";
$icon-send: "\ea76";
$icon-service: "\ea77";
$icon-show: "\ea78";
$icon-snapshot: "\ea79";
$icon-sort-down: "\ea7a";
$icon-sort-up: "\ea7b";
$icon-sort: "\ea7c";
$icon-sources: "\ea7d";
$icon-spinner: "\ea7e";
$icon-stackstate: "\ea7f";
$icon-star-open: "\ea80";
$icon-star: "\ea81";
$icon-storage: "\ea82";
$icon-tag-alt: "\ea83";
$icon-terminal: "\ea84";
$icon-thinking-process: "\ea85";
$icon-trash: "\ea86";
$icon-unlock: "\ea87";
$icon-upgrade-alt: "\ea88";
$icon-upload: "\ea89";
$icon-user-check: "\ea8a";
$icon-user-xmark: "\ea8b";
$icon-user: "\ea8c";
$icon-version-alt: "\ea8d";
$icon-warning: "\ea8e";
$icon-windows: "\ea8f";
