name: publish-icons
on:
  push:
    branches:
    - 'master'
    paths:
    - 'package.json'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        registry-url: 'https://registry.npmjs.org'
        scope: '@rancher'        

    # Ensure npm 11.5.1 or later is installed
    - name: Update npm
      run: npm install -g npm@latest

    - name: script
      run: |
        git config --global user.name 'Rancher Icons'
        git config --global user.email 'noreply@rancher.com'
        yarn install
        yarn run upload -i
